<!-- card.component.html -->

<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>Village</mat-card-title>
      <mat-card-subtitle><strong>Province:</strong> Province</mat-card-subtitle>
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content>
    <p><strong>Succession Custom:</strong> Patriarchy</p>
    <p><strong>Mutupo:</strong> Nyati</p>
    <p><strong>District:</strong> District</p>

    <p><strong>Wards:</strong> Wards</p>
    <p><strong>Households:</strong> Households....</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary">View Villagehead</button>
    <button mat-raised-button color="warn">Edit</button>
  </mat-card-actions>
</mat-card>
