.container {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  height: 100%;
  background-image: url("../../../assets/Default_african_village_with_black_and_white_light_sketch_tone_0.jpg");
  background-attachment: fixed; /* Fix the background image */
  background-size: cover;
  background-position: center;
  padding: 20px;
  box-sizing: border-box; /* Include padding in element's total width and height */
}

.example-card {
  max-width: 900px;
  width: 100%; /* Ensure the card takes the available width */
  max-height: 100%;
  margin: 15px;
  padding: 15px;

  min-height: 70vh; /* Minimum height of 70 viewport height */
  font: 1.2em/1.618 Roboto, sans-serif;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto; /* Allow vertical scrolling */

  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 20px;
  background-color: white;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.55);
  backdrop-filter: blur(15px);
}

p {
  margin: 0;
}

p:not(:last-child) {
  margin-bottom: 1.5em;
}

.example-button-row {
  display: table-cell;
  max-width: 600px;
}

.example-button-row .mat-mdc-button-base {
  margin: 8px 8px 8px 0;
}

.mat-card-content {
  font-size: calc(14px + 0.5vw); /* Responsive font size */
}

.display-5 {
  font-size: calc(1.425rem + 2.1vw);
  font-weight: 600;
  line-height: 1;
}

@media (min-width: 1200px) {
  .display-5 {
    font-size: 3rem;
  }
}

.strong {
  font-size: calc((1.425rem + 2.1vw) / 2); /* Reduced scale by 3 */
  font-weight: 600;
  line-height: 1;
}

@media (min-width: 1200px) {
  .strong {
    font-size: 1.5rem; /* Adjusted to maintain consistency */
  }
}
