<!-- card.component.html -->
<div class="container">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>{{ chief?.incumbent }}</mat-card-title>
        <mat-card-subtitle
          ><a href="#"
            ><strong>Chieftainship:</strong> {{ chief?.chieftainship }}</a
          ></mat-card-subtitle
        >
        <img
          mat-card-md-image
          src="{{ chief?.picture }}"
          alt="Image of a Shiba Inu"
        />
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      <p><strong>Last verified:</strong></p>
      <p><strong>ID Number:</strong> {{ chief?.id_number }}</p>
      <a href="#"
        ><p><strong>Chieftainship:</strong> {{ chief?.chieftainship }}</p></a
      >
      <p><strong>Mutopo:</strong> {{ chief?.mutupo }}</p>
      <p><strong>EC Number:</strong> {{ chief?.ecnumber }}</p>
      <p><strong>Gender:</strong> {{ chief?.gender }}</p>
      <p><strong>Status:</strong> {{ chief?.status }}</p>
      <p><strong>Bank:</strong> {{ chief?.bank }}</p>
      <p><strong>Account Number:</strong> {{ chief?.accountnumber }}</p>
      <p><strong>Contact Number:</strong> {{ chief?.contactnumber }}</p>
      <p><strong>Next of Kin:</strong> {{ chief?.nextofkin }}</p>
      <p><strong>Biosignature:</strong> {{ chief?.biosignature }}</p>
      <p><strong>Spouses:</strong> {{ chief?.spouses }}</p>
      <p><strong>Offspring:</strong> {{ chief?.offspring }}</p>
      <p><strong>Car Registration Number:</strong> {{ chief?.car_reg_no }}</p>
      <p><strong>Date of Issue:</strong> {{ chief?.dateofissue }}</p>
      <p><strong>Physical Address:</strong> {{ chief?.physicalladdress }}</p>
    </mat-card-content>
    <mat-card-actions>
      <div class="example-button-row">
        <button mat-raised-button color="warn" (click)="appointChief()">
          Change Status
        </button>
      </div>
    </mat-card-actions>
  </mat-card>
</div>
