<mat-stepper labelPosition="bottom" #stepper>
  <mat-step [stepControl]="optionFormGroup">
    <form [formGroup]="optionFormGroup">
      <ng-template matStepLabel>Status</ng-template>

      <mat-form-field class="example-full-width">
        <mat-label>Status</mat-label>
        <mat-select formControlName="status1" required="">
          <mat-option value="Substantive">Substantive</mat-option>
          <mat-option value="Acting">Acting</mat-option>
          <mat-option value="Removed">Removed</mat-option>
          <mat-option value="Deceased">Deceased</mat-option>
        </mat-select>
      </mat-form-field>
      <br />
      <div>
        <button mat-raised-button matStepperNext>Next</button>
        <button
          mat-raised-button
          color="primary"
          *ngIf="showSaveStatusButton"
          (click)="onSubmit1()"
        >
          Save Status
        </button>
      </div>
    </form>
  </mat-step>
  <mat-step
    [stepControl]="dateFormGroup"
    [completed]="!disableOtherForms"
    [editable]="!disableOtherForms"
  >
    <form [formGroup]="dateFormGroup">
      <ng-template matStepLabel>Date of Death/Removal</ng-template>

      <mat-form-field class="example-full-width">
        <mat-label>Date of Death or Removal</mat-label>
        <input
          matInput
          [matDatepicker]="picker4"
          placeholder="Date of Death/Removal"
          formControlName="date1"
          required
        />
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker4"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker4></mat-datepicker>
      </mat-form-field>
      <br />
      <div>
        <button mat-raised-button matStepperPrevious>Back</button>
        <button mat-raised-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <!-- Repeat the pattern for the remaining form groups -->
  <mat-step
    [stepControl]="firstFormGroup"
    [completed]="!disableOtherForms"
    [editable]="!disableOtherForms"
  >
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Personal Details</ng-template>
      <!-- Personal Details Fields -->
      <div>
        <button mat-raised-button matStepperPrevious>Back</button>
        <button mat-raised-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step
    [stepControl]="secondFormGroup"
    [completed]="!disableOtherForms"
    [editable]="!disableOtherForms"
  >
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Additional Details</ng-template>
      <!-- Additional Details Fields -->
      <div>
        <button mat-raised-button matStepperPrevious>Back</button>
        <button mat-raised-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step
    [stepControl]="thirdFormGroup"
    [completed]="!disableOtherForms"
    [editable]="!disableOtherForms"
  >
    <form [formGroup]="thirdFormGroup">
      <ng-template matStepLabel>Additional Details</ng-template>
      <!-- Additional Details Fields -->
      <div>
        <button mat-raised-button matStepperPrevious>Back</button>
        <button mat-raised-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step
    [stepControl]="fourthFormGroup"
    [completed]="!disableOtherForms"
    [editable]="!disableOtherForms"
  >
    <form [formGroup]="fourthFormGroup">
      <ng-template matStepLabel>Additional Information</ng-template>
      <!-- Additional Information Fields -->
      <div>
        <button mat-raised-button matStepperPrevious>Back</button>
        <button mat-raised-button (click)="stepper.reset()" color="warn">
          Reset
        </button>
        <button mat-raised-button color="primary" (click)="onSubmit()">
          Submit
        </button>
      </div>
    </form>
  </mat-step>
</mat-stepper>
