<mat-stepper labelPosition="bottom" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Personal Details</ng-template>
      <mat-form-field>
        <mat-label>ID Number</mat-label>
        <input
          matInput
          placeholder="ID Number"
          formControlName="id_number"
          required
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Incumbent</mat-label>
        <input
          matInput
          placeholder="Incumbent"
          formControlName="incumbent"
          required
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>District</mat-label>
        <input
          matInput
          placeholder="District"
          formControlName="district"
          required
        />
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Chieftainship Details</ng-template>
      <mat-form-field>
        <mat-label>Province</mat-label>
        <input
          matInput
          placeholder="Province"
          formControlName="province"
          required
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Chieftainship</mat-label>
        <input
          matInput
          placeholder="Chieftainship"
          formControlName="chieftainship"
          required
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Mutupo</mat-label>
        <input
          matInput
          placeholder="Mutupo"
          formControlName="mutupo"
          required
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>EC Number</mat-label>
        <input
          matInput
          placeholder="EC Number"
          formControlName="ecnumber"
          required
        />
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="thirdFormGroup">
    <form [formGroup]="thirdFormGroup">
      <ng-template matStepLabel>Additional Information</ng-template>
      <mat-form-field>
        <mat-label>Gender</mat-label>
        <input
          matInput
          placeholder="Gender"
          formControlName="gender"
          required
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Date of Birth</mat-label>
        <input
          matInput
          placeholder="Date of Birth"
          formControlName="dateofbirth"
          required
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Date of Appointment</mat-label>
        <input
          matInput
          placeholder="Date of Appointment"
          formControlName="dateofappointment"
          required
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Status</mat-label>
        <input
          matInput
          placeholder="Status"
          formControlName="status"
          required
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Contact Number</mat-label>
        <input
          matInput
          placeholder="Contact Number"
          formControlName="contactnumber"
          required
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Physical Address</mat-label>
        <input
          matInput
          placeholder="Physical Address"
          formControlName="physicalladdress"
          required
        />
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </form>
  </mat-step>
</mat-stepper>
