<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar class="example-toolbar" style="background-color: white">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon></button
    ><img width="25" src="../assets/images.jpeg" alt="Logo" />
    <h1 class="example-app-name">TLSS</h1>
  </mat-toolbar>

  <mat-sidenav-container
    class="example-sidenav-container"
    style="background-color: white"
    [style.marginTop.px]="mobileQuery.matches ? 56 : 0"
  >
    <mat-sidenav
      #snav
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56"
      opened=""
    >
      <span style="display: flex; flex-direction: column; align-items: center">
        <a routerLink="/">
          <!-- Add your logo here -->
          <img
            width="150"
            src="../assets/images.jpeg"
            alt="Logo"
            style="padding: 10px; margin: auto"
          />
        </a>
        <br />

        <span
          style="
            text-align: center;
            font-family: Roboto, sans-serif;
            font-weight: 400;
            font-style: normal;
            font-weight: bold;
          "
        >
          Traditional Leadership <br />
          and Support Services
        </span>
      </span>

      <mat-nav-list style="margin-top: 20px">
        <a class="list-item" mat-list-item routerLink="/">Home</a>
        <a class="list-item" mat-list-item routerLink="chiefs">Chiefs</a>
        <a class="list-item" mat-list-item routerLink="headman">Headman</a>
        <a class="list-item" mat-list-item routerLink="villagehead"
          >Village Head</a
        >
        <a class="list-item" mat-list-item routerLink="chieftainship"
          >Chieftainship</a
        >
        <a class="list-item" mat-list-item routerLink="headmanship"
          >Headmanship</a
        >

        <button class="list-item" mat-list-item (click)="logout()">
          Logout
        </button>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
