<!-- card.component.html -->
<div class="container">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title
          ><p class="display-5">
            Chieftainship: {{ data.chieftainship }}
          </p></mat-card-title
        >
        <mat-card-subtitle
          ><p>
            Status: <span class="strong">{{ data.status }}</span>
          </p>
          <br
        /></mat-card-subtitle>
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      <p>
        Succession Custom:
        <span class="strong">{{ data.succession_custom }}</span>
      </p>
      <p>
        Origin of Chieftainship:
        <span class="strong">Origin</span>
      </p>
      <p>
        Founding Father:
        <span class="strong"></span>
      </p>
      <p>
        Province: <span class="strong">{{ data.province }}</span>
      </p>
      <p>
        District: <span class="strong">{{ data.district }}</span>
      </p>

      <p>
        Headmanships:
        <span class="strong"
          ><button mat-raised-button (click)="openDialog()">View</button>
        </span>
      </p>
      <p>
        Villageships:
        <span class="strong"
          ><button mat-raised-button (click)="openDialog1()">View</button></span
        >
      </p>
    </mat-card-content>
    <mat-card-actions>
      <div class="example-button-row">
        <button
          mat-raised-button
          color="primary"
          (click)="openDialog2(data.chieftainship)"
        >
          View Chief
        </button>
        <button mat-raised-button color="primary" (click)="navigateToHistory()">
          View Succession History
        </button>
        <button mat-raised-button color="warn">Edit</button>
      </div>
    </mat-card-actions>
  </mat-card>
</div>
