<h2 mat-dialog-title>{{data.type}}</h2>
<mat-dialog-content class="mat-typography">
  <mat-nav-list>
    @for (link of list; track link; ) { @if (data.type == 'Headmanships') {
    <a
      mat-list-item
      [href]="'/headmanship-view/' + link.id"
      [activated]="link.isActive"
      >{{ link.id }}. {{ link.headmanship }}</a
    >} @if (data.type == 'Villages') {
    <a
      mat-list-item
      [href]="'/village-view/' + link.id"
      [activated]="link.isActive"
      >{{ link.index }}. {{ link.villageship }}</a
    >} }
  </mat-nav-list>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>
